.leftbar {
    height: 100vh;
    width: 245px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    background-color: #242121d9;
    color: white !important;
    z-index: 5;
    position: fixed;
    left: 0;
    top: 3.5rem;
}

.leftbar>label:first-child {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.leftbar_btn {
    padding: 5px;
    border: none !important;
    border-radius: 0%;
    background-color: transparent !important;
    color: white;
    display: inline-flex;
    align-items: left !important;
    padding: 10px;
    margin: 5px 0px;
 }

 .leftbar_btn:hover { 
    cursor: pointer;
    background-color: gray !important;
 }